// SHADES
$white: #FFF;

.white {
    color: #FFF;
}

$black: #000;

.black {
    color: #000;
}

$gray-dark: #212121;

.gray-dark {
    color: #212121;
}

$gray-mid: #424242;

.gray-mid {
    color: #424242;
}

$gray: #BDBDBD;

.gray {
    color: #BDBDBD;
}

$gray-light: #EEE;

.gray-light {
    color: #EEE;
}


// COLORS MD400
// https://material.io/design/color/#tools-for-picking-colors
$red: #EF5350;

.red {
    color: #EF5350;
}

$pink: #EC407A;

.pink {
    color: #EC407A;
}

$purple: #AB47BC;

.purple {
    color: #AB47BC;
}

$deep-purple: #7E57C2;

.deep-purple {
    color: #7E57C2;
}

$indigo: #5C6BC0;

.indigo {
    color: #5C6BC0;
}

$blue: #42A5F5;

.blue {
    color: #42A5F5;
}

$light-blue: #29B6F6;

.light-blue {
    color: #29B6F6;
}

$cyan: #26C6DA;

.cyan {
    color: #26C6DA;
}

$teal: #26A69A;

.teal {
    color: #26A69A;
}

$green: #66BB6A;

.green {
    color: #66BB6A;
}

$light-green: #9CCC65;

.light-green {
    color: #9CCC65;
}

$lime: #D4E157;

.lime {
    color: #D4E157;
}

$yellow: #FFEE58;

.yellow {
    color: #FFEE58;
}

$amber: #FFCA28;

.amber {
    color: #FFCA28;
}

$orange: #FFA726;

.orange {
    color: #FFA726;
}

$deep-orange: #FF7043;

.deep-orange {
    color: #FF7043;
}

$brown: #8D6E63;

.brown {
    color: #8D6E63;
}

$blue-gray: #78909C;

.blue-gray {
    color: #78909C;
}